/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
/*******Mon travail*******/

.logo img {
  height: 30px;
  width: 70px;
}

.head {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
}

.menu li {
  /**si non liste style : none après display : inline block**/
  display: inline;
  margin-left: 35px;
  color: black;
}
.menu li:hover {
  border-top: solid 3px #0065fc;
  padding: 35px 5px;
  /*transition: 0.6s ease;*/
  color: #0065fc;
}
/****essay
.hotel_marseille ul li {
  list-style: none;
}***/
form {
  padding-bottom: 20px;
  padding-top: 20px;
}
.logo_map {
  border: 1px solid transparent;
  background-color: rgb(236, 227, 227);
  padding: 14.5px;
  padding-top: 13.3px;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.recherche1 {
  border: 1px solid rgb(236, 227, 227);

  padding: 15px;
  padding-left: 15px;
  padding-right: 90px;
}
.recherche {
  border: 1px solid transparent;
  background-color: #0065fc;
  color: white;
  padding: 15px;
  padding-left: 15px;
  margin-left: -5px;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.filtre {
  display: flex;
  flex-direction: row;
}
h2 {
  padding: 5px;
}
.liste_filtre {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;

  font-weight: bold;
}
.li_filtre {
  border: 2px solid rgb(236, 227, 227);
  border-radius: 25px;
  padding: 13px;
}
.li_filtre:hover {
  background-color: #deebff;
}
.i {
  border: rgb(236, 227, 227) 1.5px solid;
  border-radius: 50%;
  padding: 4px 9px;
  color: #0065fc;
  font-size: 13px;
}
.text_i {
  padding-left: 10px;
}
.i_text_i {
  padding-bottom: 15px;
}

/*****je commence la partie hébérgement**/
.hotel_marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding-top: 20px;
  /* padding-right: 6px;*/
}
.card1 {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 4px;
  /*padding-left: 5px;
  padding-right: 5px;*/
  line-height: 65%;
  width: 28%;
  /* margin-right: -12px;*/
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.img_heberg {
  height: 120px;
  width: 100%;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  object-fit: cover;
}
.menu_etoile {
  padding-left: 10px;
  padding-bottom: 10px;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
.aficher-plus {
  display: inline-block;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

i {
  color: #0065fc;
}
.neutral-star {
  color: var(--main-bg-color);
}
/*****Activité*****/
.activite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding-left: 15px;
  display: flex;

  padding-bottom: 50px;
}
.img_act {
  height: 330px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card2 {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  font-size: 13px;

  width: 23%;
}
.titre_act {
  padding-left: 15px;
}
.activ_marseille {
  padding-left: 15px;
  padding-top: 20px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
footer {
  background-color: var(--main-bg-color);
  padding-bottom: 20px;
  width: 98%;
  height: 150px;
  position: relative;
}
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 15px;
  padding: 5px 250px 5px 30px;
}

.apropos {
  display: flex;
  flex-direction: column;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/*1440******/

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hotel_marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-top: 20px;
    /* padding-right: 6px;*/
  }
  .card1 {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    /*padding-left: 5px;
    padding-right: 5px;*/
    line-height: 65%;
    width: 28%;
    /* margin-right: -12px;*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  .img_heberg {
    height: 120px;
    width: 100%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    object-fit: cover;
  }
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .li_filtre {
    font-size: 11px;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding-left: 15px;
    display: flex;

    padding-bottom: 50px;
  }
  .img_act {
    height: 240px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .card2 {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    font-size: 13px;

    width: 23%;
  }
  footer {
    background-color: var(--main-bg-color);
    padding-bottom: 20px;
    width: 98%;
    height: 150px;
    position: relative;
  }
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 15px;
    padding: 5px 50px 5px 30px;
  }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
  /* ... */
  .head {
    display: flex;
    flex-direction: column;
  }
  .logo img {
    position: relative;
    top: 5px;
    left: 170px;
  }
  .menu {
    position: relative;
    top: 20px;
    left: -100px;
    display: flex;
    gap: 70px;
  }
  .menu li {
    position: relative;
    left: 30px;
    padding: 30px;
    width: 100%;
  }
  .menu li:hover {
    border-top: none;

    border-bottom: #0065fc 3px solid;
    width: 100%;
  }
  .filtre_h1,
  .p_head,
  .i_text_i,
  form,
  .filtre {
    padding-left: 40px;
  }
  .filtre {
    display: flex;
    flex-direction: column;
  }
  .liste_filtre {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .liste_filtre {
    padding-left: 2px;
  }
  .li_filtre {
    padding-left: 15px;
    padding-right: 10px;
    text-align: center;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px;
  }
  .populaires {
    width: 100%;
    margin-bottom: 15px;
  }
  .hebergements {
    width: 100%;
    background-color: white;
  }

  .card1 {
    width: 100%;
  }
  .img_heberg {
    width: 100%;
  }
  .hebergements-and-populaires .hebergements {
    background-color: white;
    padding-left: 5px;
  }
  .activite {
    display: flex;
    flex-direction: column;
  }
  .activ_marseille,
  .activite {
    padding-left: 30px;
  }
  .card2 {
    width: 100%;
  }
  .img_act {
    width: 100%;
  }
  .foot {
    display: flex;
    flex-direction: column;
    padding-left: 210px;
  }
  footer {
    width: 100%;
    height: 500px;
  }

  .foot {
    display: flex;
    flex-direction: column;

    font-size: 15px;
    padding: 5px 30px 5px 100px;
  }
  form {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    padding-left: 30px;
  }
}
@media screen and (max-width: 320px) {
  .card {
    width: 150px;
  }
  .populaires {
    width: 220px;
  }
  .card1 {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    line-height: 100%;
    width: 100%;
    /* margin-right: -12px; */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  .foot {
    padding-left: 20px;
  }
  .img_act {
    height: 200px;
  }
  .li_filtre {
    padding: 20px;
  }
}
